.setting-card{
    max-width:600px;
     background:white;
     padding:25px;
     border-radius:12px;
     box-shadow:0 4px 15px rgba(0,0,0,0.10);
     margin:0 auto; 
}

.profile{
    display:flex;
    flex-direction: row;
    padding:10px;
}

.Photo{
    border:1px solid black;
    padding:14px;
}
.Photo svg{
    font-size:50px;
}
.edit p{
    margin-bottom: 0;
    
}

.edit a{
   text-decoration: none;
   font-weight: 600;
}

.edit{
    color:#4b5563;
}

.edit>*:first-child{
    color:black;
    text-transform: capitalize;
}

.setting-element{
    border-top:1px solid #94a3b8;
    width:100%;
    padding:14px;
    box-sizing: border-box;  

   
}

.setting-link{
    color:#374151;
    text-decoration: none;
    display:flex;
    align-items: center;
    width: 100%;    
    
}



.setting-link svg:first-child{
    margin-right: 10px;
}

.setting-link svg:last-child{
    margin-left: auto;
}

.setting-element:hover{
    background-color: #eaf2f9;
}



